<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swallow.cracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cracker" >

        <activity
            android:name=".ui.activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>

                <data android:host="www.reddit.com"/>
                <data android:host="reddit.com"/>
                <data android:host="v.redd.it"/>
                <data android:host="amp.reddit.com"/>
                <data android:host="m.reddit.com"/>
                <data android:host="old.reddit.com"/>
                <data android:host="new.reddit.com"/>
                <data android:host="np.reddit.com"/>
                <data android:host="reddit.app.link"/>
                <data android:host="redd.it"/>
                <data android:host="s.reddit.com"/>

            </intent-filter>

            <nav-graph android:value="@navigation/navigation"/>
        </activity>
    </application>

</manifest>
